<div class="container">
  <h3 class="page-title"><%= @member.name %>さんの会員データ編集</h3>
  <strong class="nav-message">こちらから情報編集</strong>

  <%= form_with model: @member, url: admin_member_path, method: :patch, local: true do |f| %>

    <div class="form-group row signup_form">
      <%= f.label :name, "名前", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-2">
        <%= f.text_field :last_name, autofocus: true, autocomplet: "last_name", class: "form-control", placeholder: "山田" %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :first_name, autofocus: true, autocomplet: "first_name", class: "form-control", placeholder: "太郎" %>
      </div>
    </div>

    <div class="form-group row ">
      <%= f.label :name, "フリガナ", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-2">
        <%= f.text_field :last_name_kana, autofocus: true, autocomplet: "last_name_kana", class: "form-control", placeholder: "ヤマダ" %>
      </div>
      <div class="col-sm-2">
        <%= f.text_field :first_name_kana, autofocus: true, autocomplet: "first_name_kana", class: "form-control", placeholder: "タロウ" %>
      </div>
    </div>

    <div class="form-group row signup_form">
      <%= f.label :email, "メールアドレス", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email@example.com" %>
      </div>
    </div>
    <div class="form-group row signup_form">
      <%= f.label :postcode, "郵便番号（ハイフンなし）", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-2">
        <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", class: "form-control", placeholder: "1234567" %>
      </div>
    </div>
    <div class="form-group row signup_form">
      <%= f.label :address, "住所", class: "col-sm-4 col-form-label"%>
      <div class="col-sm-4">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", placeholder: "⚪︎⚪️県⚪️⚪️市⚪️丁目〜️" %>
      </div>
    </div>
    <div class="form-group row signup_form">
      <%= f.label :phone_number, "電話番号（ハイフンなし）", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-2">
        <%= f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control", placeholder: "00000000000" %>
      </div>
    </div>
    <div class="form-group row signup_form">
      <%= f.label :is_deleted, "会員ステータス", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-2">
        <%= f.label :is_deleted, '有効', class: "text-primary" %>
        <%= f.radio_button :is_deleted, :false, checked: true %>
        <%= f.label :is_deleted, '退会済み', class: "text-danger" %>
        <%= f.radio_button :is_deleted, :true %>
      </div>
    </div>
    <!--変更ボタン-->
    <div class="actions member-edit-btn">
      <%= f.submit '変更を保存', class: 'btn btn-primary' %>
    </div>
  <% end %>