<div class="container">
  <div class="row">

    <div class="box col-12">
      <div class="col-sm-4 bg-warning">
        <h3 class="table-title">ショッピングカート</h3>
      </div>
      <!--ここからカートテーブル-->
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>削除ボタン</th>
          </tr>
        </thead>

        <% @cart_items.each do |cart| %>
        <tbody>
          <tr>
            <th><%= cart.product.name %></th>
            <td><%= cart.product.no_tax_price * 1.1.to_i %>円</td>
            <td>
            <!--# <= form_with model: @-->
              <%= cart.amount %>
              <%= link_to '変更', cart_item_path(cart.product_id), class: "btn btn-primary", method: :patch %>
            </td>
            <td><%= cart.product.no_tax_price * 1.1.to_i * cart.amount %>円</td>
            <td>
              <%= link_to '削除する', cart_item_path(cart.id), class: "btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %>
            </td>
          </tr>
        </tbody>
        <% end %>

      </table>

      <!--CSSで合計金額の表を作る-->
      <table>
        <tr>
          <th>合計金額</th>
          <td></td>
        </tr>
      </table>

      <div class="btn-all-destroy">
        <%= link_to 'カートを空にする', products_path, class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか?" %>
      </div>

      <div class="btn-large">
        <%= link_to '買い物を続ける', products_path, class: "btn btn-primary btn-lg" %>
        <%= link_to '情報入力に進む', new_order_path, class: "btn btn-success btn-lg" %>
      </div>

    </div>
  </div>
</div>
