<div class="container">
  <div class="row">
    <div class="col-md-6 bg-warning">
      <h3>商品新規登録</h3>
    </div>

    <!-- form_with部分 -->
    <%= form_with model: @newproduct, url: admin_products_path, local: true do |f| %>
    <div class="col-md-12 bg-danger new-product">

      <!--商品画像-->
      <div class="col-md-5">
        <div class="field row">
          <%= f.label :image %>
          <%= f.attachment_field :image %>
        </div>
      </div>
      <!--商品情報-->
      <div class="col-md-7 bg-success">
        <div class="form-group col-md-6">
          <%= f.label :name, '商品名' %>
          <%= f.text_field :name, placeholder: "◯◯ケーキ", class: 'form-control' %>
        </div>
        <div class="form-group col-md-9">
          <%= f.label :introduction, '商品説明' %>
          <%= f.text_area :introduction, class: 'form-control' %>
        </div>
        <!--属性は共通名にしたほうがいい？-->
        <div class="form-group col-md-7">
          <%= f.label :genre_id, 'ジャンル' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, :include_blank => '選択してください', required: true %>
        </div>
        <div class="form-group col-md-7">
          <%= f.label :no_tax_price, '税抜価格' %>
          <%= f.text_field :no_tax_price %>円
        </div>
        <!--boolean型だから、trueかfalseしか送れない？？-->
        <div class="form-group col-md-7">
          <%= f.label :is_active, '販売ステータス' %>
          <!--<= f.select :is_active, {'販売中': true, '売り切れ': false, }, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>-->
          <!--<= f.select :is_active, [['販売中', true],['売切れ', false]], { include_blank: '選択してください'}, { required: true } %>-->
          <%= f.select :is_active, { '販売中' => true, '売切れ' => false }, { include_blank: '選択してください'}, { required: true } %>

        </div>
        <div class="form-group col-md-7">
          <%= f.submit '新規登録', class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
    <% end %>

  </div>
</div>