<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h3 class="page-title">商品詳細</h3>
    </div>

    <div class="col-sm-12">
      <!--商品画像-->
      <div class="col-sm-4 product-image">
        <div class="field row">
          <%= attachment_image_tag @product, :image, :fill, 300, 200, format: 'jpeg', class: "img-rounded profile-img", fallback: "no_image.jpg" %>
        </div>
      </div>

      <!--商品情報-->
      <div class="col-sm-5 product-info">
        <div>
          <p class="product-category">商品名</p>
          <%= @product.name %>
        </div>
        <div>
          <p class="product-category">商品説明</p>
          <%= @product.introduction %>
        </div>
        <div>
          <p class="product-category">ジャンル</p>
          <%= @product.genre.name %>
        </div>
        <div>
          <p class="product-category">税込価格（税抜価格）</p>
          <%= @product.no_tax_price %>円
        </div>
        <div>
          <p class="product-category">販売ステータス</p>
          <% if @product.is_active == true %>
            <span class="sell">販売中</span>
          <% else %>
            <span class="sell-out">売切れ</span>
          <% end %>
        </div>
        <div class="form-group col-sm-12 btn">
          <%= link_to '編集', edit_admin_product_path, class: 'btn btn-primary' %>
          <%= link_to '削除', admin_product_path, method: :delete ,class: 'btn btn-danger', "data-confirm" => "Are you sure?" %>
        </div>
      </div>
    </div>
  </div>