<div class="container">
  <div class="orders_confirm_title">
    <h3 class="row bg-warning">注文情報確認</h3>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <table class="table table-bordered">
        <thead>
          <tr class="tablehead">
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>

        <% @cart_items.each do |cart| %>
        <tbody>
          <tr>
            <td><%= cart.product.name %></td>
            <td><%= cart.tax_included_price.to_s(:delimited) %>円</td>
            <td><%= cart.amount %></td>
            <td><%= cart.subtotal.to_s(:delimited) %>円</td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>


    <!--ここからフォーム-->
    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
    <div class="col-sm-4">
      <table class="table table-bordered">
        <tr>
          <th class="tablehead">送料</th>
          <td><%= @order.freight.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="tablehead">商品合計</th>
          <td><%= @total_payment.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="tablehead">請求金額</th>
          <td><%= @freight_total_payment.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>

    <div class="col-sm-7 row">
      <div class="col-sm-2">
        <p class=order-cofirm-strong>
          <strong>支払い方法</strong>
        </p>
      </div>
      <div class="col-sm-7">
        <p class=order-cofirm-info><%= @order.payment_method_i18n %></p> <!-- 日本語化 -->
      </div>
    </div>

    <div class="col-sm-7 row">
      <div class="col-sm-2">
        <p class=order-cofirm-strong>
          <strong>お届け先</strong>
        </p>
      </div>
      <div class="col-sm-7">
        <div class=order-cofirm-info>
          <p><%= @order.postcode %></p>
          <p><%= @order.address %></p>
          <p><%= @order.name %></p>
        </div>
      </div>
    </div>

    <!--購入確定ボタン-->
    <div class="actions row col-sm-12">
      <!--購入確定前に、@orderに格納するカラムデータをhiddenで送信-->
      <%= f.hidden_field :postcode, :value => @order.postcode %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :name, :value => @order.name %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <%= f.hidden_field :total_payment, :value => @freight_total_payment %>
      <%= f.submit '購入を確定する', class: "btn btn-success" %>
    </div>
    <% end %>
  </div>
</div>
