<div class="container">
  <div class="row">


    <div class="box col-12">
      <div class="col-sm-4">
        <h3 class="page-title">注文履歴一覧</h3>
      </div>

      <!--ここから注文履歴テーブル-->
      <table class="table  table-bordered">
        <thead>
          <tr class="category">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>

        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <!-- 注文日は、 lメソッドを使って書式を指定する -->
            <td><%= l order.created_at, format: :short %></td>
            <td>
              <%= order.postcode %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td>
              <!--order_detailsのまとまりを分類-->
              <% order.order_details.each do |order_item| %>
                <!--ブロック変数order_item各々に入っている、商品名を取り出す-->
                <p><%= order_item.product.name %></p>
              <% end %>
            </td>
            <td><%= order.total_payment.to_s(:delimited) %>円</td>
            <td><%= order.status %></td>
            <td>
              <%= link_to '表示する', order_path(order.id), class: "btn btn-primary" %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>
