<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="genre-serch-box">
        <p class="genre-serch-text"><strong>ジャンル検索</strong></p>
        <% @genres.each do |genre| %>
          <p class="genre-name"><%= genre.name %></p>
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-10">
      <h2 class="page-title">商品一覧<small>（全<%= @products.count %>件）</small></h2>
      <div class="product-boxes">
        <% @products.each do |product| %>
          <div class="product-box">
            <%= link_to product_path(product) do %>
              <%= attachment_image_tag product, :image, :fill, 230, 150, format: 'jpeg', class: "img-rounded product-img", fallback: "no_image.jpg" %>
            <% end %>
            <p></p>
            <%= link_to product.name, product_path(product), class: "product-name" %>
            <p>￥<%= product.tax_included_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
      <!-- ページャ１ページに８件表示する -->
      <%= paginate @products %>
    </div>
  </div>
</div>



