<div class="container">
  <h1>ここは商品詳細です</h1>
  <div class="row">
    <div class="col-sm-2">
      <div class="genre-serch-box">
        <p class="genre-serch-text"><strong>ジャンル検索</strong></p>
        <p class="genre-name">ケーキ</p>
        <p class="genre-name">焼き菓子</p>
        <p class="genre-name">プリン</p>
        <p class="genre-name">キャンディ</p>
      </div>
    </div>
    <div class="col-sm-10 bg-success">
      <h2>商品詳細</h2>
      <div class="product-info">
        <div class="col-sm-6 bg-warning ">
          <%= attachment_image_tag @product, :image, :fill, 330, 250, format: 'jpeg', class: "img-rounded profile-img", fallback: "no_image.jpg" %>
        </div>
        <div class="col-sm-6 bg-warning">
          <h2><%= @product.name %></h2>
          <p><%= @product.introduction %></p>
          <h3>￥<%= @product.no_tax_price %><small>(税込）</small> </h3>
          <%= form_with model: @cart_item, url: admin_products_path, local: true do |f| %>
          <div class="actions">
            <%= f.submit "カートに入れる", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
