<!DOCTYPE html>
<html>
  <head>
    <title>KanazawaCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <img>ロゴ</img>
        </nav>
        <nav id="sidemenu">
          <ul class="nav navbar-nav navbar-right">

            <% if admin_signed_in? %>
              <li class="nav-link">
                <%= link_to "商品一覧", admin_products_path, class: "btn btn-default" %>
              </li>
              <li class="nav-link">
                <%= link_to "会員一覧", class: "btn btn-default" %>
              </li>
              <li class="nav-link">
                <%= link_to "注文履歴一覧", class: "btn btn-default" %>
              </li>
              <li class="nav-link">
                <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-default" %>
              </li>
              <li class="nav-link">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default" %>
            <% else %>
              </li>
              <li class="nav-link">
                <%= link_to "About", class: "btn btn-default" %>
              </li>
              <li class="nav-link">
                <%= link_to "商品一覧", admin_products_path, class: "btn btn-default" %> <!-- 新規登録できないようにする  -->
              </li>
              <li class="nav-link">
                <%= link_to "新規登録", class: "btn btn-default" %>
              </li>
              <!--リンク先を指定することでボタンができる-->
              <li class="nav-link">
                <%= link_to "ログイン", admin_session_path, class: "btn btn-default" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
